#app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
}

#content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#title {
  display: block;
  text-decoration: underline;
  text-decoration-color: #639;
}

#control_panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.control-element {
  margin: 1rem 0rem;
}

.ctrl-label {
  font-size: 1.2rem;
  font-weight: bold;
}

.controls,
.timer-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.ctrl {
  margin: 0.5rem 1rem;
  background-color: #639;
  color: #f0f0f0;
  width: 2rem;
  height: 1.2rem;
  padding: 0.5rem;
  border: 0.2rem solid #f0f0f0;
  border-radius: 20%;
}

.ctrl-display {
  margin-top: 0.5rem;
  font-size: 2rem;
}

#display_panel {
  border: 0.5rem solid #f0f0f0;
  border-radius: 20%;
  height: 9rem;
  width: 10rem;
  padding: 0rem 1rem 0rem 1rem;
  margin: 2rem 25%;
}

.display-label {
  color: #639;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  margin: 1rem;
}

.timer-display {
  font-size: 3rem;
}

.timer-controls {
  margin-top: 3rem;
}

.ctrl-alt {
  margin: 0.5rem 1rem;
  background-color: #639;
  color: #f0f0f0;
  width: 4rem;
  height: 1.2rem;
  padding: 0.5rem;
  border: 0.2rem solid #f0f0f0;
  border-radius: 20%;
}

#footer {
  display: flex;
  justify-content: center;
  color: #639;
  margin-top: 3rem;
  text-decoration: none;
}

#footer:hover {
  color: #f0f0f0;
}

#footer:visited {
  color: #639;
}
